:root {
    /* font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 14px;
    box-sizing: border-box;
    --border-radius: 8px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    background-color: #0ea5e9;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

.sidebar {
    color: white;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    gap: 40px;
}
.sidebar .logo {
    font-size: 2rem;
}
.logo span {
    display: flex;
    align-items: center;
}
.logo svg {
    width: 3rem;
    height: 3em;
    fill: white;
}
.sidebar-pages {
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 14px;
}
.sidebar-pages span {
    display: flex;
    align-items: center;
}
.sidebar-pages svg {
    height: 1.5rem;
    width: 1.5rem;
    margin: 3px;
    fill: white;
}
.sidebar-group {
    display: grid;
    grid-template-rows: repeat(auto-fit, clamp(30px, 50px, 4rem));
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    color: grey;
    display: grid;
    grid-template-rows: 1fr 2fr;
    color: #ffffff;
}
.search-bar {
    grid-row: 1/2;
    display: flex;
    align-items: center;
}
.search-bar svg {
    width: 2rem;
    height: 2rem;
}
.search-bar input {
    border-color: #000000;
    border-radius: 3px;
}
.header-button-area {
    grid-row: 2/3;
}
.article {
    background-color: #e2e8f0;
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}
.projects-header {
    margin: 1.3rem;
}
.projects {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, clamp(150px, 45%, 550px));
    gap: 20px;

}
.project-content {
    margin: 1rem;
}
.project-title {
    font-weight: 700;
    font-size: 1.2rem;
}
.projects .project {
    height: 200px;
    background-color: #fed7aa;
    border-left: 0.25rem solid red;
    border-radius: var(--border-radius);
    margin: 1.2rem;
    overflow: scroll;
}
.project-body {


}

.announcements-trending {
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 3fr 4fr;
}
.announcements-body {
    grid-row: 1/2;
    /* grid-column: 2/3; */
    margin: 1.3rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.announcements-header {
    grid-row: 1/2;
}
.announcements {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(3, clamp(40px, 60px, 100px));
    background-color: white;
    border-radius: var(--border-radius);
    border: var(--border-radius), solid, white;
}
.announcement {
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.announcement .announcment-title {
    padding: 6px;
    margin: 2px;
    font-size: 1.1em;
    font-weight: 700px;
}
.announcement .announcement-content {
    padding: 4px;
}
.trends-body {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.trends-body .trend-header {
    grid-row: 1/2;
    margin: 1.3rem;

}
.trends {
    display: grid;
    grid-template-rows: repeat(4, clamp(4rem, 5rem, 7rem));
    background-color: white;
    border: 8px solid white;
    border-radius: var(--border-radius);
}
.trend {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 4fr;
}
.trend-logo {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trend-logo svg {

    height: 3rem;
    width: 3rem;
    flex: 1;
}
.trend-title {
    grid-area: 1 / 2/ 2/ 3;
    color: black;
}
.trend-content {
    grid-row: 2/3;
    grid-column: 2/3;
    color: #334155;
}